.nav-container{
    padding: 2em 0;
    display: flex;
}
.nav-container .logo{
    width: 30%;
}
.logo a{
    font-size: 1.8em;
    color: rgb(46, 46, 46);
}
.logo a:hover{
    text-decoration: none;
}
.nav-container .nav-menu{
    width: 70%;
}
.nav-menu{
    text-align: center;
    margin: 0;
}
.nav-menu li{
    margin: 0 0.3em;
    display: inline-block;
}
.nav-link{
    color: rgb(34, 34, 34);
    font-size: 1.2em;
}
.nav-link:hover{
    color: red;
}
.login-link:hover{
    background-color: transparent;
}
button.login-btn{
    background-color: tomato;
    color: white;
    padding: 0.1em 1.5em;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media screen and (max-width: 991px){
    .nav-container{
        padding: 2em;
        display: block;
    }
    .logo{
        padding: 1em 0;
    }
    .nav-container .logo{
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }
    .nav-container .nav-menu{
        width: 100%;
    }
    .nav-menu{
        padding: 1em;
    }
    .nav-menu li{
        margin: 1em 0;
        padding: 1em;
        display: block;
    }
}